.main{
    min-height: 100vh;
    flex: 1;
    padding: 15px;
    position: relative;

}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: rgb(88, 73, 73);
}

.main .user{
    width: 60px;
    border-radius: 50%;
}


.main-container{
    max-width:900px ;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color:rgb(153, 131, 89);
    font-weight: 500;
    padding: 20px;

}

.main .greet span{
    background: -webkit-linear-gradient(16deg , rgb(115, 115, 211),rgb(196, 80, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(188px,1fr));
    gap: 20px;
    
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: rgb(241, 213, 213);
    position: relative;
    cursor: pointer;
    
    &:hover{
        background-color: #b6d5ea;
    }
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
 
.main .card p{
    color: #706e6e;
    font-size: 20px;
}

/* bottom */

.main-bottom{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(245, 236, 236);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 20px
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex:1;
    background:transparent;
    border: none;
    outline: none;
    padding: 8px ;
    font-size: 18px;


}

.search-box div{
    display: flex;
    align-items: center;
    gap:15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

@media (max-width:600px) {
    .main-bottom input{
        /* flex: none; */
        width: 150px;
        height: 30px;
        padding: -50px;
        font-size: 13px;
    }

    .main-bottom img{
        width: 20px;
    }

    .search-box{
        padding: 15px 10px;
        flex: none;
        
    }

    .search-box div{
        gap: 5px ;
    }
    
}